doctype html
html
head 
  include ./partials/head.pug
  style(type='text/css').
    html, body {
      height: 100%;
      background: #fff;
    }
    .flex-parent {
      height: 100%;
      display: flex;
    }
    .flex-child {
      margin: auto;
    }
    p {
      margin-bottom: 50px;
    }
    .btn-return, .btn-return:hover {
      background:#7c4c4c; 
      color: #fff;
    }
body(style='font-family:Lato; text-align:center')
  .container.flex-parent 
    .flex-child
      .row 
        h1 It seems like something you inputted was incorrect. Please navigate to the Doctor Signup Page and try again.
      .row 
        form(action="/doctorSignup", method="GET")
          button.btn.btn-default.btn-return(type="submit") Return to the Doctor Signup Page and Try Again!

