doctype html
html
head 
  include ./partials/head.pug
  style(type='text/css').
    html, body {
      height: 100%;
      background: #E3EBF6;
    }
    .flex-parent {
      height: 100%;
      display: flex;
    }
    .flex-child {
      margin: auto;
    }
    p {
      margin-bottom: 50px;
    }
    .btn-return, .btn-return:hover {
      background-color: #99ccff;
    }
body(style='font-family:Lato; text-align:center')
  .container.flex-parent
    .flex-child 
      .row(style="width: 400px; text-align: left;") 
        h1 Congrats, you have verified the following doctors!
        ul 
          each doctor in doctors  
            li= doctor.name

        p Within the next few days, a staff member from your hospital will verify your position, and we will send send you an official verification code.
        p Make sure to revisit the doctor sign up page at that point and input that code!
      .row 
        form(action="/medicalStaffProfile", method="GET")
          button.btn.btn-default.btn-return(type="submit") Return to your profile!
