// implements a side navigation bar for the user-side website upon login
// -- the purpose of this is to provide easy navigation between various forms for the user
//    including navigating to their health profile, history of hospital visits, 
//    modify their billing information, change password, etc. etc.

// this implements the top navbar that functions as a quasi-header
body(style='font-family:Lato')
nav.navbar.navbar-default.navbar-fixed-top#navbar-white(role="navigation", style="background:#20395E; color:white")
  .navbar-collapse.collapse
    <div class="container-fluid">
      br
      - if (medicalStaffName) {
          p(style="float:right; font-size=30px") All done? <a href="/hospitalLogin/logout", style="text-align:right">Logout</a>
      - } else {
          p(style="float:right") Make your trip to the ER less stressful by saving your info!<a href="/hospitalLogin", style="text-align:right"> Click here </a>to login or register.
      - }
      ul.nav.navbar-nav.navbar-right
    </div>
