doctype html
html
  include ./partials/head.pug
  body(style='font-family:Lato')
    .jumbotron(style='padding-top:0px')
      p(style='text-align:right; font-size:15px; padding-bottom:20px; padding-top: 1vw; margin-right:1.5vw') Not a patient? <a href="/hospitalLogin">Login as a hospital staff administrator</a> | <a href="/doctorSignup">Sign up as a doctor</a> 
      h1(style='text-align:center') Emergency? We got you.

    .container
      .row
        .col-sm-1
        .col-sm-5(style='padding-right:40px')
          h2 Login here
          h5(style = 'color:#737373') Welcome back!
          br
          form(action="/patient/login", method="POST")
            p Email
            input.form-control(type='email', name="email", placeholder="email")
            br
            p Password
            input.form-control(type='password', name="password", placeholder="password")
            br
            button.btn.btn-default(type="submit", style="float:right; background:#99ccff") Log in
        .col-sm-5(style='border-left:2px solid #99ccff; padding-left:40px',)
          h2 Sign up now
          h5(style = 'color:#737373') Don't have an account? Fear not!
          br
          form(id='pRegForm', name="patientReg", action="/patient/signup", method="POST", style="line-height:15px")
            p Name <p class='regError', id='nameAlert' style="display:none"> Names can only have alphabetic characters </p>
            input.form-control(id='regName', type='text', name="name", placeholder="e.g. Barack Obama")
            br
            p Age <p class='regError', id='ageAlert', style="display:none"> Age can only be numbers from 0 to 120 </p>
            input.form-control(id='regAge', type='number', min="0", max="120", name="age", placeholder="e.g. 20")
            br
            p Email <p class='regError', id='emailAlert' style="display:none"> Please enter a valid email </p> 
            input.form-control(id='regEmail', type='email', name="email", placeholder="e.g. stressed@uchicago.edu")
            br
            p Phone <p class='regError', id='phoneAlert' style="display:none"> Phone numbers can only contain numeric digits </p>
            input.form-control(id='regPhone', type='text', name="phoneNumber", placeholder="e.g. 6789998212")
            br
            p Password <p class='regError', id='pwdAlert' style="display:none"> Passwords must be a minimum of 7 characters </p>
            input.form-control(id='regPwd', type='password', name="password", placeholder="password")
            br
            p Confirm your password <p class='regError', id='pwdChkAlert' style="display:none"> Passwords do not match! </p>
            input.form-control(id='regChkPwd', type='password', name="password2", placeholder="confirm password")
            br
            button.btn.btn-default(id="pRegBtn", type="submit", style="float:right; background:#99ccff") Register
